DEBUG=True
SECRET_KEY=change-me-to-a-long-random-string
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,web

INFLUXDB_INIT_USERNAME=admin
INFLUXDB_INIT_PASSWORD=change-me
INFLUXDB_ORG=radar_project
INFLUXDB_BUCKET=sensors_data
INFLUXDB_TOKEN=change-me-to-a-long-random-token

REDIS_URL=redis://redis:6379/1
MQTT_BROKER_HOST=mosquitto
